@page "/GamesList"
@using template.Shared.Games;
@using template.Shared.Models.Games;
@inject HttpClient Http;
@inject NavigationManager Nav;

<div id="pageTop">
    <h3>המשחקים שלי</h3>
    <div>
        <div id="infoContainers">YYYYYYYYYY</div>
        <div id="gamesToolTip" class="toolTip">?</div>
    </div>
</div>

<div class="page_bg" style="display:flex; justify-content:center;">
    <PageTitle>המשחקים שלי</PageTitle>

    @if (MyGamesList != null)
    {
        <div id="allGames">
            @foreach (GameToCard game in MyGamesList)
            {
                <div id="gameContainer" >
                    <div style="display:flex; justify-content:space-between; align-items: flex-end; padding-right:21px; padding-left:21px">

                        <span>@game.Game</span>
                        <span style="color:white">@game.GameCode</span>

                    </div>
                    <div>
                        <div style="display:flex; justify-content:space-around; padding-right:21px; padding-left:21px; margin-top:10px">
                            <div style="border:1px solid black; width:100px; height:43px; border-radius:8px; display:flex; gap:0px; flex-direction:column">
                                <div style="text-align:center; font-size:20px;height:22px">@game.Num_Questions</div>
                                <div style="text-align:center;font-size:12px; height:14px">שאלות</div>
                            </div>
                            @if (game.Time == 0)
                            {
                                <div style="border:1px solid black;height:43px; width:100px; border-radius:8px; display:flex; gap:0px; flex-direction:column">
                                    <div style="text-align:center;font-size:20px; height:22px">ללא</div>
                                    <div style="text-align:center;font-size:12px; height:14px">הגבלת זמן</div>
                                </div>
                            }
                            else
                            {
                                <div style="border:1px solid black;height:43px; width:100px; border-radius:8px; display:flex; gap:0px; flex-direction:column">
                                    <div style="text-align:center;font-size:20px; height:22px">@game.Time</div>
                                    <div style="text-align:center;font-size:12px; height:14px">שניות לשאלה</div>
                                </div>
                            }
                        </div>

                        <div style="display:flex; justify-content:space-around; padding-right:21px; padding-left:21px; margin-top:7px">
                            <a href="https://localhost:7022/EditGame/RouteParams/@game.GameCode/@game.Game/@game.Time">
                                <div id="editIcon"></div>
                            </a>

                            @if (game.CanPublish == false)
                            {
                                <input type="checkbox" disabled />
                            }
                            else
                            {
                                <input type="checkbox" checked="@game.IsPublished"
                           @onchange="(() =>changePublish(game))" />
                            }
                            <div class="deleteIcon" @onclick="(() =>DeleteGame(game))"></div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
            }
            <a href="https://localhost:7022/EditGame/RouteParams/0/@gameToAdd.Game/50">
                <div id="CreateNewGame"></div>
            </a>
        </div>     
    }
    
    
    
@*    <p>@msg</p>*@

@*    @if (msg != "")
    {
        <p>@msg</p>
        <input type="button" value="reload" @onclick=Navigate />
    }*@
</div>

@code {

    [CascadingParameter]
    public int UserId { get; set; }
    GameToAdd gameToAdd = new GameToAdd();

    // פתיחת מופע חדש של המחלקה
    List<GameToCard> MyGamesList;
    string msg = "";


    // בעת טעינת העמוד
    protected override async Task OnInitializedAsync()
    {
        gameToAdd.Game = " ";
        // פנייה לקונטרולר ושליפת המשחקים
        var gamesRes = await Http.GetAsync("api/Games");
        if (gamesRes.IsSuccessStatusCode == true)
        {
            // השמת הנתונים במופע שפתחנו
            MyGamesList = gamesRes.Content.ReadFromJsonAsync<List<GameToCard>>().Result;
        }
        else
        {
            // נטפל במצבים שהיוזר לא רשאי לגשת אל המידע ונאכלס משתנה של הודעה בהתאם
            string error = gamesRes.Content.ReadAsStringAsync().Result;
            switch (error)
            {
                case "No games for this user":
                    msg = "עדין לא יצרת משחקים... זה הזמן ליצור את הראשון :)";
                    break;
                case "user is not authenticated":
                    msg = "ארעה בעיה בעת אימות המשתמש";
                    break;
            }
        }
    }

    async Task DeleteGame(GameToCard game)
    {
        GameCodeClass gameCode = new GameCodeClass();
        gameCode.GameCode = game.GameCode;
        var gamesRes = await Http.PostAsJsonAsync("api/Games/Delete", gameCode);
        if (gamesRes.IsSuccessStatusCode)
        {
            msg = "נמחק בהצלחה";
            MyGamesList.Remove(game);
        }
        else
            msg = "המחיקה נכשלה";
    }


    protected async Task changePublish(GameToCard game)
    {
        // בעת לחיצה על פרסום ניצור מופע של מחלקה עם מזהה המשחק ומצב הפרסום
        PublishGame gameToSend = new PublishGame();
        gameToSend.GameCode = game.GameCode;
        // נגדיר שמצב הפרסום הפוך למצב הנוכחי. כלומר, אם לא היה מפורסם - כעת יהיה ולהיפך
        gameToSend.IsPublished = !game.IsPublished;
        // נשלח את המידע לקונטרולר
        var userRes = await Http.PostAsJsonAsync("api/games/publishGame", gameToSend);
        // אם הכל תקין - נציג את מצב הפרסום העדכני
        if (userRes.IsSuccessStatusCode == true)
        {
            game.IsPublished = !game.IsPublished;
        }
        else
        {
            string error = userRes.Content.ReadAsStringAsync().Result;
            // אם נמצא בקונטרולר שמסיבה כלשהי טעינו ובעצם לא ניתן לפרסם את המשחק
            if (error == "This game cannot be published")
            {
                // נשנה את מצב הפרסום ולא נאפשר לפרסם
                game.IsPublished = false;
                game.CanPublish = false;
                // נסביר למשתמש מה קרה
                msg = "המשחק אינו מאושר לפרסום";
            }
            else
            {
                // אחרת נקרא לפונקציית הודעות השגיאה אליה נוסיף את האופציות החדשות
                ShowError(error);
            }
        }
    }

    void ShowError(string error)
    {
        switch (error)
        {
            case "No games for this user":
                msg = "עדין לא יצרת משחקים... זה הזמן ליצור את הראשון :)";
                break;
            case "user is not authenticated":
                msg = "ארעה בעיה בעת אימות המשתמש";
                break;
            case "Game not created":
                msg = "ארעה בעיה בעת יצירת המשחק";
                break;
            case "Game code not created":
                msg = "ארעה בעיה בעת יצירת קוד המשחק";
                break;
            case "It's Not Your Game":
                msg = "המשחק הזה אינו שלך...";
                break;
            case "This game cannot be published":
                msg = "המשחק אינו מאושר לפרסום";
                break;
            case "Update Failed":
                msg = "בעיה בעדכון המשחק";
                break;
        }
    }

    void Navigate()
    {
        Nav.NavigateTo("./", true);
    }
}
