@using template.Shared.DTOs
@inherits Microsoft.AspNetCore.Components.Forms.InputTextArea
@inject HasLetters SharedData;

<div class="inputAndCharCount">
    <textarea @attributes="@AdditionalAttributes" class="@CssClass default-input @inputClass" @bind="@CurrentValueAsString" @bind:event="oninput" @onkeyup="countChars" maxlength="@maxLength"></textarea>
    <p class="numOfChars">@length.ToString()/@maxLength.ToString()</p>
</div>

@code {
    // פרמטר לקבלת אורך מחרוזת מינימלי
    [Parameter]
    public int minLength { get; set; } = 3;

    // פרמטר לקבלת אורך מחרוזת מקסימלי
    [Parameter]
    public int maxLength { get; set; } = 30;

    // משתנה שיכיל את שם המחלקה הרלוונטי במידה ואורך המחרוזת תקין, דורש
    // אזהרה או לא תקין
    string inputClass = "";

    // משתנה שיכיל את אורך המחרוזת
    int length = 0;

    protected override async Task OnInitializedAsync()
    {
        SharedData.HasLetter = false;
        if (CurrentValueAsString != null)
            length = CurrentValueAsString.Length;
        else
            length = 0;
    }

    void countChars()
    {
        bool hasLetter = false;
        if (CurrentValueAsString != null)
        {
            length = CurrentValueAsString.Length;
            for (int i = 0; i < CurrentValueAsString.Length; i++)
            {
                if (CurrentValueAsString[i].ToString() != " ")
                {
                    hasLetter = true;
                    SharedData.HasLetter = true;
                    break;
                }
                else
                {
                    SharedData.HasLetter = false;
                }
            }
        }
        if (length >= minLength && length < maxLength && hasLetter)
        {
            inputClass = "good-input";
        }
        else if (length == maxLength && hasLetter)
        {
            inputClass = "warnning-input";
        }
        else if (length > maxLength || !SharedData.HasLetter)
        {
            inputClass = "danger-input";
        }
    }
}
